<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.phonegap.touchey" version ="1.6">

<name>Touchey</name>

<description>
Touchey design brings to you the best of design from around the world; from Graphic identities and Illustrations to industrial design , Interior design, Architecture, Photography, Website design and Interface design.Get inspired from more than 500 text and images articles updated weekly!
</description>

<author href="http://www.touchey.com" email="touchey@touchey.com">Walid Wannous</author>
<access origin="http://google.com" subdomains="true" /> <!-- allow access to Google Analytics -->
<access origin="*" />

<icon src="icon.png" gap:role="default" />
<icon src="icons/ios/icon.png" width="57" height="57" />
<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="icons/ios/icon_at_2x.png" width="114" height="114" />

<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>

<preference name="orientation" value="default" />
<preference name="fullscreen" value="true" />
<preference name="webviewbounce" value="false" />


<gap:splash src="splash/ios/Default-568h@2x~iphone.png" width="640" height="1136" />
<gap:splash src="splash/ios/Default-Landscape@2x~ipad.png" width="2048" height="1496" />
<gap:splash src="splash/ios/Default-Landscape~ipad.png" width="1024" height="748" />
<gap:splash src="splash/ios/Default-Portrait@2x~ipad.png" width="1536" height="2008" />
<gap:splash src="splash/ios/Default-Portrait~ipad.png" width="768" height="1004" />
<gap:splash src="splash/ios/Default@2x~iphone.png" width="640" height="960" />
<gap:splash src="splash/ios/Default~iphone.png" width="320" height="480" />


<!--PLUGINS--> 


</widget>